<body>
<div class="wrapper">
    <form action="">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>&nbsp;
            <a href="#">Forgot password</a>
        </div>
        <button type="submit" class="btn">Login</button><br><br>
        <div id="g_id_onload"
     data-client_id="134495194872-u06ae5pvmgsu7snfic60m5a6vq9l4is2.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/api/login"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="center">
</div>
    </form>
</div>
</body>