body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(85, 84, 86);
    background-size:cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:#fff;
    position: relative;
    padding: 30px 40px;
    border-radius: 10px;
    
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}





